<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <style>
       .upload-img{
           width: 80px;
           height:80px;
           border:0;
           padding-right: 2px;
       }
    </style>
</head>
<body>
<div class="layui-form timo-compile">
    <form th:action="@{/merchantPrice/add}">
        <input type="hidden" name="systemName" value="C"/>
        <div class="layui-form-item">
            <label class="layui-form-label required">价格类型</label>
            <div class="layui-input-inline">
                <input type="radio" name="priceType" value="淘宝" title="淘宝" >
                <input type="radio" name="priceType" value="京东" title="京东">
                <input type="radio" name="priceType" value="拼多多" title="拼多多">
                <input type="radio" name="priceType" value="抖音" title="抖音">
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">起始价格</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="priceStart" placeholder="请输入起始价格" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required ">结束价格</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="priceEnd" placeholder="请输入结束价格" >
            </div>
        </div>

        <div class="layui-form-item ">
            <label class="layui-form-label required">商家价目</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="price" placeholder="请输入商家价目" >
            </div>
        </div>


        <div class="layui-form-item timo-finally">
            <button class="layui-btn merchantPrice-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script>
    layui.use(['element','upload','layer'], function () {
        var $ = layui.jquery;
        var upload = layui.upload;
        var layer=layui.layer;


        //提交
        /* 提交表单数据 */
        $(document).on("click", ".merchantPrice-submit", function (e) {
            e.preventDefault();
            var form = $(this).parents("form");
            var url = form.attr("action");
            var serializeArray = form.serializeArray();
            $.post(url, serializeArray, function (result) {
                if (result.data == null) {
                    result.data = 'submit[refresh]';
                }
                if (result.code === 200) {
                    layer.msg(result.msg, {offset: '15px', time: 3000, icon: 1});
                    setTimeout(function () {
                        if (result.data === 'submit[refresh]') {
                            parent.location.reload();
                            return;
                        }
                        if (result.data != null && result.data.url != null) {
                            window.location.href = result.data.url;
                        } else {
                            window.location.reload();
                        }
                    }, 2000);
                } else {
                    layer.msg(result.msg, {offset: '15px', time: 3000, icon: 2});
                }
            });
        });

    });
</script>
</body>
</html>