<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<style>
    .upload-img{
        width: 80px;
        height:80px;
        border:0;
        padding-right: 2px;
    }
</style>
<body>
<div class="layui-form timo-compile">
    <form th:action="@{/shop/edit}">
        <div class="layui-form-item">
            <input type="hidden" name="id" th:value="${shop.id}">
            <label class="layui-form-label required">商户编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="userName" id="userName" th:value="${shop.userName}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">店铺名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="shopName" th:value="${shop.shopName}" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required ">店铺掌柜</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="shopManage" th:value="${shop.shopManage}" >
            </div>
        </div>

        <div class="layui-form-item ">
            <label class="layui-form-label required">发货人</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="deliverName" th:value="${shop.deliverName}" >
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label required">发货电话</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="deliverPhone" th:value="${shop.deliverPhone}" >
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label required">发货地址</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="deliverAddr" th:value="${shop.deliverAddr}" >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required" >店铺图片</label>

            <button type="button" class="layui-btn" id="shopPicId">上传店铺图片</button>
            <blockquote  style="margin-top: 5px; margin-left: 30px;">
                <div class="layui-upload-list" id="shopPicImg">
                    <img th:src="@{${s}}" th:each="s:${shopPics}" class="upload-img">
                </div>
            </blockquote>
            <input type="hidden" name="shopPic"  id="shopPicText" th:value="${shop.shopPic}"/>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn shop-edit-submit"><i class="fa fa-check-circle"></i>更新</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script>
    layui.use(['element','upload','layer'], function () {
        var $ = layui.jquery;
        var upload = layui.upload;
        var layer=layui.layer;

        $("#chs").click(function(){
            window.layerIndex=layer.open({
                content: ['/system/user/userlistinfo',2]
                , type: 2
                ,title:'用户列表'
                ,area: ['600px', '400px']
            });
        });

        //店铺图片上传
        var shopPicId = upload.render({
            elem: '#shopPicId'
            ,field: 'picture'
            ,exts: 'jpg|png|gif|jpeg'
            ,url: '/upload/picture' //改成您自己的上传接口
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#shopPicImg').append('<img src="'+ result +'" alt="'+ file.name +'" class="upload-img">')
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code == 200){
                    var path=res.data.path;
                    var oldPath=$("#shopPicText").val();
                    var newPath="";
                    if(oldPath!=''){
                        newPath=oldPath +","+path
                    }else{
                        newPath=path;
                    }
                    $("#shopPicText").val(newPath);
                    return layer.msg('上传成功!');
                }else{
                    return layer.msg(res.msg);
                }
            }
            ,error: function(){
            }
        });

        //提交
        /* 提交表单数据 */
        $(document).on("click", ".shop-edit-submit", function (e) {
            e.preventDefault();
            var form = $(this).parents("form");
            var url = form.attr("action");
            var serializeArray = form.serializeArray();
            $.post(url, serializeArray, function (result) {
                if (result.data == null) {
                    result.data = 'submit[refresh]';
                }
                if (result.code === 200) {
                    layer.msg(result.msg, {offset: '15px', time: 3000, icon: 1});
                    setTimeout(function () {
                        if (result.data === 'submit[refresh]') {
                            parent.location.reload();
                            return;
                        }
                        if (result.data != null && result.data.url != null) {
                            window.location.href = result.data.url;
                        } else {
                            window.location.reload();
                        }
                    }, 2000);
                } else {
                    layer.msg(result.msg, {offset: '15px', time: 3000, icon: 2});
                }
            });
        });

    });
</script>
</body>
</html>