<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <style>
        .dict-value {
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <div class="layui-card-header timo-card-header">
        <span><i class="fa fa-bars"></i>店铺管理</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">
        <div class="layui-row timo-card-screen">
            <div class="pull-left layui-form-pane timo-search-box">
                <div class="layui-inline">
                    <label class="layui-form-label">店铺名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" th:value="${param.shopName}" placeholder="请输入店铺名称" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">掌柜名</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" th:value="${param.shopManage}" placeholder="请输入掌柜名"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn timo-search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="pull-right screen-btn-group">
                <button class="layui-btn open-popup" data-title="添加店铺" th:attr="data-url=@{/shop/add}"
                        shiro:hasPermission="shop:add" data-size="615,558">
                    <i class="fa fa-plus"></i> 添加
                </button>
            </div>
        </div>
        <div class="timo-table-wrap">
            <table class="layui-table timo-table">
                <thead>
                <tr>
                    <th class="timo-table-checkbox">
                        <label class="timo-checkbox"><input type="checkbox">
                            <i class="layui-icon layui-icon-ok"></i></label>
                    </th>
                    <th class="sortable" data-field="userName">商户编号</th>
                    <th class="sortable" data-field="shopName">店铺名称</th>
                    <th class="sortable" data-field="shopManage">店铺掌柜</th>
                    <th class="sortable" data-field="deliverName">发货人</th>
                    <th class="sortable" data-field="deliverPhone">发货电话</th>
                    <th class="sortable" data-field="deliverAddr">发货地址</th>
                    <!--<th class="sortable" data-field="shopPic">店铺图片</th>-->
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${list}">
                    <td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                        <i class="layui-icon layui-icon-ok"></i></label></td>
                    <td th:text="${item.userName}">商户名称</td>
                    <td th:text="${item.shopName}">店铺名称</td>
                    <td th:text="${item.shopManage}">店铺掌柜</td>
                    <td th:text="${item.deliverName}">发货人</td>
                    <td th:text="${item.deliverPhone}">发货电话</td>
                    <td th:text="${item.deliverAddr}">发货地址</td>
                   <!-- <td th:text="${item.shopPic}" class="dict-value">店铺图片</td>-->

                    <td>
                        <a class="open-popup" data-title="编辑字典" th:attr="data-url=@{'/shop/edit/'+${item.id}}"
                           shiro:hasPermission="shop:edit"
                           data-size="615,558" href="#">编辑</a>
                        <a class="open-popup" data-title="详细信息" th:attr="data-url=@{'/shop/detail/'+${item.id}}"
                           shiro:hasPermission="shop:detail"
                           data-size="800,600" href="#">详细</a>
                        <a class="ajax-get" data-msg="您是否确认删除" th:href="@{'/shop/delete/'+${item.id}}"
                           shiro:hasPermission="shop:del">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="/common/fragment :: page"></div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
<script>
    layui.use(['element'], function () {
        var $ = layui.jquery;
        var dv = $(".dict-value");
        $(window).on("resize", function () {
            var width = $("body").width();
            if (width > 1200) {
                dv.css("max-width", width * 0.32);
            } else {
                dv.css("max-width", width * 0.20);
            }
        }).resize();
    });
</script>
</body>
</html>