<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <tbody>
            <tr>
                <th width='100px'>用户编号</th>
                <td th:text="${user.username}"></td>
            </tr>
            <tr>
                <th>用户名称</th>
                <td th:text="${user.nickname}"></td>
            </tr>
            <tr>
                <th>QQ</th>
                <td th:text="${user.qq}"></td>
            </tr>
            <tr>
                <th>微信</th>
                <td th:text="${user.wx}"></td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td th:text="${#dates.format(user.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>