<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<style>
    .upload-img{
        width: 80px;
        height:80px;
        border:0;
        padding-right: 2px;
    }
</style>
<body>
<div class="layui-form timo-compile">
    <form>
        <div class="layui-form-item">
            <label class="layui-form-label required">商户编号</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="userName" id="userName" th:value="${shop.userName}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">店铺名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="shopName" th:value="${shop.shopName}" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required ">店铺掌柜</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="shopManage" th:value="${shop.shopManage}" >
            </div>
        </div>

        <div class="layui-form-item ">
            <label class="layui-form-label required">发货人</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="deliverName" th:value="${shop.deliverName}" >
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label required">发货电话</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="deliverPhone" th:value="${shop.deliverPhone}" >
            </div>
        </div>
        <div class="layui-form-item ">
            <label class="layui-form-label required">发货地址</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="deliverAddr" th:value="${shop.deliverAddr}" >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required" >店铺图片</label>

            <button type="button" class="layui-btn" id="shopPicId">上传店铺图片</button>
            <blockquote  style="margin-top: 5px; margin-left: 30px;">
                <div class="layui-upload-list" id="shopPic">
                    <img th:src="@{${s}}" th:each="s:${shopPics}" class="upload-img">
                </div>
            </blockquote>
            <input type="hidden" name="shopPic"  id="shopPicText" th:value="${shop.shopPic}" />
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>